<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto py-5">
                {% block body %} {% endblock %}
            </div>
        </div>
    </div>
    <div class="py-5">
        <span class="ml-5">Developed by <a href="https://japial.github.io/" target="_blank">Jahangir Pial</a></span>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>